main {
    width: 100vw;
    min-height: calc(100vh - 150px);
  
}





@media (min-width: 640px) {

main {
    min-height: calc(100vh - 185px);
}

    
  }



  @media (min-width:1024px) { 
    main {
        min-height: calc(100vh - 185px);
    }
  }