 #about-main {
    display: flex;
    flex-direction: column;
}

.title-description-about, #nav-content {
    text-transform: uppercase;
}

#nav-content {
    background-color: rgba(34, 116, 113, 0.6);
}
#nav-content ul{
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    padding: 10px 0 20px 0;
}

#nav-content a {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 20px;
    text-align: center;
}

#nav-content a:active{
    border-bottom: 1px solid black;
}

.description-div-bloc{
    padding: 15px;
    border-radius: 15px;
    font-size: 1.1em;
}
#about, #demarche {
    text-align: right;
}
.title-description-about {
    border-bottom: 1px solid rgb(116,34,37);
    font-size: 1.3rem;
    font-weight: 200;
    padding: 5px;
}

.description-div-bloc p {
    line-height: 25px;
    margin-top: 20px;

}
#about, #histoire {
    position: relative;
}
#demarche {
    color: rgb(116,34,37);
 }
 #about {
    color:rgb(116,34,37);
}
#histoire {
    background-color:rgb(116,34,37);
    color: white;
}

/* .horizontal-separator div {
    width: 100%;
    height: 100%;
}
.dotes-separator {
    transform: rotate(-45deg);
}

.horizontal-separator {
    width: 150px;
    height: 150px;
    background-color: rgba(103, 124, 167, 44%);
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
    text-align: center;
    position: absolute;
    left: calc(50% - 75px);
    
} */

#about-main hr {
    display:none
}


@media (min-width: 640px) {
   
    #nav-content ul{
        font-size: 1.5rem;

    }
    .description-div-bloc p {
        font-size: 1.5rem;
    }
    .title-description-about {
        font-size: 2.5rem;
    }

}

@media (min-width:1024px) {

    #about-main {
        width: 80%;
        margin: 0 auto;
    }
   .description-div-bloc {
       width: 50%;
       color: white;
       padding: 20px 0 20px 0;
       margin: 0;
    }
   #histoire {
       align-self: flex-end;
   }
   .horizontal-separator {
       display: none;
   }

   #nav-content {
       padding: 20px;
       border-radius: 10px;
       margin-top: 10px;
   }

   #nav-content li {
       font-size: 1.8rem;
   }
   .description-div-bloc p {
    text-align: justify;
    line-height: 35px;
    font-size: 1.3em;
    padding: 0  45px 75px 45px;

}
 .title-description-about{
    padding : 30px 0 30px 0;
    width: fit-content;
    margin: 0 auto;

}

#about, #histoire, #demarche {
    position: relative;
}

#about::after {
    content: "";
    background-image: url(../assets/img/pilecoussin_01.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#histoire::after {
    content: "";
    background-image: url(../assets/img/pilecoussin_01.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
}

#demarche::after {
    content: "";
    background-image: url(../assets/img/pilecoussin_01.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

}