.single-article  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 0 10px;
}

.single-article p {
    padding: 10px;
    line-height: 25px;
    margin: 5px;
}


.single-article  .react-photo-gallery--gallery {
    width: 100%;
}

.btn-retour-blog {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(34, 116, 113, 0.6);
    border-radius: 5px;
    color: whitesmoke;
    margin-top: 10px;
}


.wp-block-gallery{
    display: none;
}

.react-photo-gallery--gallery {
    border: 1px solid lightgray;
    padding: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba(34, 116, 113, 0.6);
    margin-bottom: 10px;
    margin-top: 10px;
}


.blocks-gallery-item > figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (min-width:1024px) { 
    
    .single-article {
        margin-bottom: 35px;
        width: 1100px;
        margin: 0 auto;
        text-align: left;
    }
    .single-article-title{
        font-size: 35px;
        text-align: left;
        margin:30px 0 30px 0;
    }

    .single-article-img-featured {
        width: 55%;
        margin: 0 auto;
    }

    .single-article p {
        font-size: 1.4em;
        width: 65%;
        margin: 0 auto;
       margin-top: 20px;
       margin-bottom: 20px;
    }

   
    .react-photo-gallery--gallery {
        border: 1px solid lightgray;
        padding: 6px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 1px 5px 5px rgba(34, 116, 113, 0.6);
        margin-bottom: 10px;
        margin-top: 10px;
        width: 65%;
    }

    .btn-retour-blog {
        margin-bottom: 50px;
    }   

    .btn-retour-blog:hover{
        background-color: whitesmoke;
        color: rgba(34, 116, 113, 0.6);
    }
   
}









