#backToTop{
    display: block; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 80px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 1; /* Make sure it does not overlap */
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgba(34, 116, 113, 0.6);
    border-radius: 5px;
    color: whitesmoke;
    transform: scale(1.2 ,1.1);
  }
  
  #backToTop:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }


  @media (min-width:1024px) { 
    #backToTop{ 
      right: 150px;
      transform: scale(2,1.5);
    }

  }