.footer {
    display: flex;
    height: 60px;
    background-image: url(../assets/img/black-wooden-plank.jpg);
}


.social-media-container {
    height: 80%;
    width: fit-content;
   margin-left: 10px;
   display: flex;
   align-self: center;
}


.social-media-item {
    max-height: 100%;
    margin: 0 15px;
}